// ==========================================================================
// Components / Buttons
// ==========================================================================

%btn {
  @include inline-block(middle);
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  padding: .5em .8em;
  //line-height: 1em;
  background: none;
  border:1px solid;
  transition: all .12s ease-out;
  & + & {
    margin-left: 1em;
  }
  &:active{
    transform: scale3d(.975,.975,.975);
  }
}

@mixin btn($rounded : false) {
  @extend %btn;
  @if $rounded == true {
      border-radius: 5px;
  }
}


// ========== Hamburger toggle button SEE NAV.SCSS ===========


// ========== Main buttons ===========

button {
  @include inline-block(middle);
  -webkit-appearance: none;
}

a.btn:hover{
  opacity: 1;
}

.btn-primary {
  @include btn();
  // @include rem(font-size, 24px);
  // padding: .2em 1.2em;
  color: $color-primary;
  // font-weight: 900;

  &:hover {
    // ...
    background-color: $color-primary;
    color: $white;
  }
}

.btn-secondary {
  @include btn();
  // @include rem(font-size, 12px);
  // padding: .5em .8em;
  // font-weight: bold;
  // border: 1px solid ;
  &:hover {
    // ...
  }
}

.btn--wide{
  width: 100%;
}


// ========== Labels (boxed) ===========

%label{
  @extend %btn ;
  border: 1px solid;
  padding: 0 .5em;
  letter-spacing: .2em;
  line-height: 1.5em;
  cursor: default;
}

.btn-label{
  @include btn();
  @extend .btn-secondary;
  @include rem(line-height, 24px);
  padding: 0 .5em;
  font-weight: normal;
  letter-spacing: .2em;
}

// ========== Responsive buttons ===========

@include mq($until: mobile){
  .btn-m{
    width: 100%;
    margin-bottom: 1em;
  }
}

// ========== buttons hover effect ===========
// *** http://ianlunn.github.io/Hover/ ***

