// ==========================================================================
// Layout / Header
// ==========================================================================

.main-header{
	position: relative;
}

.pre-title{
	display: block;
	color: $black;
	margin-bottom: .5em;
}

.main-logo{
	
}

.logo-wrapper{
	width: 150px;
	img{
		width: 100%;
	}
}