// ==========================================================================
// Layout / Main styles 
// ==========================================================================

.l-constrained {
	max-width: $wrapper-width;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	@include mq($until : ($wrapper-width + $space)){
		max-width: 100 - $space-fluid*2;
	}
}

.app-wrapper{
	width: 100%;
	overflow: hidden;
}

// ***************** main content *****************

.main-wrapper {
	background-color: $white;
	position: relative;
}


// ***************** misc *****************

html.lt-ie9{
	font-size: 100%;
}